body{
	background:white;
	user-select:none;
	position:absolute;
}
.k{
	position:relative;
	top:;
	right:;
}
.f{
	position:relative;
	top:-0px;
	right:-0px;
}
.kbd{
	position:relative;
	top:-0px;
	right:-0px;
	background:none;
	border:none;
	outline:none;
	border-bottom:2px solid #000;
}
.u{
	position:relative;
	top:-0px;
	right:-0px;
}

.s{
	position:relative;
	right:0px;
	top:0px;
	background:none;
	border:none;
	outline:none;
	border-bottom:2px solid #000;
}
.from{
	position:relative;
	right:-25%;
	top:100px;
	border:none;
    outline:none;
}
.t{
	border-color:#6666ff;
}


