body {
	user-select:none;
}
.h{
	background:grey;
}
.fast{
	min-height:7vh;
	border-radius:5px;
	font-size: 24px;
	color:#000000;
	background:none;
	border:2px solid #cc00cc;
	cursor:pointer;
	padding:0px 5px ;
	position:relative;
	top:10px;
	}
.georgian{
	min-height:7vh;
	border-radius:5px;
	font-size: 24px;
	color:#000000;
	background:none;
	border:2px solid #cc00cc;
	cursor:pointer;
	padding:0px 5px ;
	position:relative;
	top:10px;
	right:-10px;
}
button:hover{
	background:#cc00cc;
	box-shadow: 0 0 5px #cc00cc,
	            0 0 25px #cc00cc,
                0 0 50px   #cc00cc,
                0 0 200px #cc00cc;
}
.table2{
	border-color:#cc00cc;
}



